@model IEnumerable<Routing2demo.Models.Product>

@{
    ViewBag.Title = "title";
   
}

<h2>All products</h2>
<ul>
    @foreach (var p in Model)
    {
        <li>@Html.ActionLink("Edit " + p.Name, "Edit", new {id=p.Id})</li>
    }
</ul>